/* * { padding: 0; margin: 0; } */

* {
  font-family: Menlo, monospace;
}

#container, #stats {
  display: flex;
  flex-direction: row;
}

#filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stats {
  justify-content: space-between;
}

#filters, #scatter-vis, #stats {
  border: 2px solid #eeeeee;
  border-radius: 3px;
  margin: 12px;
}

.filters-title {
  align-self: flex-start;
  margin: 12px 12px 0;
}

#search-bar {
  margin: 12px;
  width: 200px;
}

#slider {
  padding: 0 8px; /* to make handles fit within the slider */
  margin-top: 12px;
  margin-bottom: 48px;
  width: 200px;
  height: 7px;
}
/* reset default styles */
#slider .noUi-handle::before,
#slider .noUi-handle::after {
  display: none;
}
/* style background of selected range */
#slider .noUi-connect {
  background: #007afe;
}
/* style handles */
#slider .noUi-handle {
  /* box-shadow: none; reset default styles */
  height: 18px;
  width: 18px;
  top: -6px;
  right: -9px; /* half the width */
  border-radius: 3px;
  background: #eeeeee;
}
/* style tooltip */
#slider .noUi-tooltip {
  bottom: -36px;
}

#scatterplot-title {
  fill: black;
  text-anchor: start; /* start rather than middle to position title at the top-left area of the plot. */
  font-weight: bold;
  font-size: 1.5em;
}
/* style scatter axis titles */
.scatterplot-axis__label {
  fill: black;
  text-anchor: end; /* end rather than start to position axis titles far away from the corner; you prob want to use middle if you want to align the axis title at the middle? */
  font-weight: bold;
  font-size: 1em;
}
/* style point elements in scatterplot */
.point {
  fill: #777777;
  fill-opacity: 0.3;
}
.point--hover {
  fill: black;
  stroke: black;
}
.point--selected {
  fill: orange;
  stroke: black;
}
/* style the tooltip */
#tooltip {
  position: absolute;
  display: none;
  white-space: pre-wrap;
  background-color: white;
  padding: 5px;
  box-shadow: 2px 2px 12px #999;
  font-size: 0.8em;
  border-radius: 3px;
  list-style-position: outside;
}

#stats-text {
  margin: 12px;
}
#stats-text ul {
  list-style: square;
}
#pie-vis {
  align-self: center;
}
#pie-vis .legend-category-text {
  font-size: 0.7em;
}
#piechart-title {
  fill: black;
  text-anchor: middle; /* middle to position title at the middle region of the chart. */
  font-weight: bold;
  font-size: 0.8em;
}
.genre-circle.bubblehover {
  stroke: black;
}
.genre-circle.bubbleactive {
  stroke: black;
  stroke-width: 3;
 }