/* * { padding: 0; margin: 0; } */

#container, #stats {
  display: flex;
  flex-direction: row;
}

#filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filters, #scatter-vis, #stats {
  border: 2px solid #eeeeee;
  border-radius: 12px;
  margin: 12px;
}

#filters-title {
  align-self: flex-start;
  margin: 12px 12px 0;
}

#search-bar {
  margin: 12px;
  width: 200px;
}

#slider {
  padding: 0 8px; /* to make handles fit within the slider */
  margin-top: 12px;
  margin-bottom: 48px;
  width: 200px;
  height: 7px;
}

/* reset default styles */
#slider .noUi-handle::before,
#slider .noUi-handle::after {
  display: none;
}

/* style background of selected range */
#slider .noUi-connect {
  background: #007afe;
}

/* style handles */
#slider .noUi-handle {
  /* box-shadow: none; reset default styles */

  height: 18px;
  width: 18px;
  top: -6px;
  right: -9px; /* half the width */
  border-radius: 9px;
  background: #eeeeee;
}

/* style tooltip */
#slider .noUi-tooltip {
  bottom: -36px;
}

#pie-vis {
  align-self: center;
}